<md-toolbar layout="row" class="md-whiteframe-z1">

      <h1 class="title">MiraPlace</h1>
      <!--Botón para abrir el Browser appear-->
      <div ng-class="{appear: componentsVisibility.browser.hidden}" class="lupa" md-theme="buttonsTheme"
      >
         <md-button ng-click="mainLayout.showBrowser();" class="md-fab md-accent" aria-label="search">
              <md-icon  md-svg-src="{{ src.images.search }}"></md-icon>
          </md-button>
      </div>

</md-toolbar>