<md-dialog ng-controller="SuggestionController" 
    layout="column"  layout-align="space-between center"
    mn-touch swipe-up="layout.hide();"
>
		 <!--Contenido del formulario-->
			<md-dialog-content class="form"		        
                layout="column" layout="center center">
		         	<div>
                      <h2 class="subtitle">Asunto: {{message.subject}}</h2>
                    </div>
					<md-input-container flex>
				        <label>Información</label>
				        <textarea ng-model="message.content" columns="1" md-maxlength="300"></textarea>
			      	</md-input-container>
		   </md-dialog-content>
          <!--Botones-->
         <div class="md-actions buttons" layout="row" md-theme="buttonsTheme">
            <!--Botón Cancelar-->    
            <md-button 
             ng-click="layout.cancel();" class="md-primary md-raised btn-cancel"
            >
             Cancelar
            </md-button>
            <!--Botón Limpiar-->    
            <md-button 
             ng-click="layout.clear();" class="md-primary md-raised btn-clean">
             Limpiar
            </md-button>
              <span flex></span>
            <!--Botón de Enviar Mensaje-->
            <md-button ng-click="layout.send();" class="md-primary md-raised" 
                ng-disabled="!(message.content.trim())"
            >
             Enviar
            </md-button>
        </div>
</md-dialog>