@charset "utf-8";
  /*Hoja de Estilos principal (para todas las versiones)*/  
/*Fuentes*/
@font-face {
  font-family: 'Harabara';  
  src: url('fonts/Harabara.ttf') format('truetype');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

/*General*/

.half{      
  width:45%;
}
.whole{
  width:100%;
}
.right{
  float:right;  
}
.left{
  float:left;
}

.title{
  font-size: 1.250em;
  font-weight: 400;
  color: #43daff;
  border-bottom: 2px dotted #43daff;
}

.subtitle{
   color: rgb(33,150,243);
}


@media all and (max-width: 300px)  {  body  { font-size:0.65em;  }
                                      ul.md-autocomplete-suggestions li div {  font-size:0.52em;}
                                      ul.md-autocomplete-suggestions li  { padding: 1px;}
                                   }
@media all and (min-width: 300px) and (max-width: 400px){
                                     
                                     body  { font-size:0.75em;  }
                                      ul.md-autocomplete-suggestions li div {  font-size:0.65em;}
                                      ul.md-autocomplete-suggestions li  { padding: 1px;}
                                   }
@media all and (min-width: 400px)  {  body  { font-size:0.95em;  } 
                                      ul.md-autocomplete-suggestions li div {  font-size:0.8em; }
                                   }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } 
                                      ul.md-autocomplete-suggestions li div {  font-size:1em; }
                                   }
@media all and (min-width: 600px)  {  body  { font-size:1.2em;  } 
                                   }
@media all and (min-width: 700px)  {  body  { font-size:1.25em;  } 
                                   }




/*Toda la app*/
.main{
  position: relative;
}

html, body {  
  font-family: 'Harabara',helvetica, sans-serif;  
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

md-dialog{
  background: white;
}
/* Header */
.header{
  z-index:100;
}
md-toolbar{
  z-index: 100;
  position: fixed;
  top:0px;
  left: 0px;
}
md-toolbar h1 {
  margin: auto;
}
/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

.md-button {
  height:60px;
}

/*Cambiar el color del svg*/
md-button.menuBtn > md-icon {
  fill:white;  
  width:24px;
  height:24px;
}
md-icon svg path{
  stroke:white;
  fill:white; 
}
/*header*/
md-toolbar.md-default-theme, .header{
  background: #0e76bc;
}

/*controles de la caja de Información del predio*/
.center{
  margin: 0 auto;

}
.info center{
  text-indent:0%; 
}     

/*Zoom (Controles del Maps)*/
  .zoom{
    position: absolute;
    right: 0%;
    z-index:3;
  }

/* Browser*/  
  md-dialog-content md-select{
    display:inline-block;
    min-width:200px;
  }

    /*AutoCompletado*/
  ul.md-autocomplete-suggestions li div{
    font-family:arial;    
    font-weight:bold;    
    height:50px;
    width: 100%;
  }





/*caja de la descripción del predio*/
.description{

  position: absolute;  
  left: 0px;
  background: white;
  border: none;  
  font-size: 1.5em;  
  cursor: pointer;
  color: gray;
  -webkit-transition: bottom 0.5s; /* Safari */
  transition: bottom 0.5s;  
}

.description > div{
  height: 100%;
  width: 100%;

}
.description #StreetView,.description .photo{  
  width:200px;
  height:200px;
}
.description .photo img{
  border: 2px solid rgb(33,150,243);
  width:200px;
  height:200px;

}

.description .info{
    margin-left:5%; 
}
.description .photo{
    margin-right:5%; 
}
.description .desktop{
    display: none;
}
.description .mobile{  
  display: initial;
}
  /*Velo de la descripción*/
  .descVelo{
    display: none;
    position: absolute;
    top: 0px;
    left:0px;    
    height:100%;
    width:100%;
    background: gray;
    opacity: 0.2;
  }
.description.show + .descVelo{
  display: initial;

}

.vertical-separator{
  display: none;
  margin-top: 5%;
  min-height: 200px;
  max-height: 220px; 
  height:100%;
  width:10px;
}


/*formulario Email para enviar pdf*/
.address{
    font-size: 1.2em;
    color:#2272F3;
    width: 100%;
    height:50px;
    margin-bottom: 3%;
    padding-bottom: 5px;
    border-bottom:1px solid gray;
}



  
/*Mapa del api de google*/
#maps{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*Herramientas del mapa "Zoom" */
.zoom{
      position: absolute;
      right: 2%;          
}
.zoom .md-fab{
      font-size: 2em;
      margin-right:-5px;
}

.zoom md-button{
  background:gray;
}

/*progress bar (barra de carga)*/
.loader .progress{
  z-index:100;
}
.loader{  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background:white;
  background-image:url("../img/backCiudad.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
  top:0%;
  height:0%;  
  width:100%;
  height:100%;  
  z-index:90;
}

.loader h1{
  font-size:400%;
  color:#0e76bc;
}