/*Hoja de estilos para la versión de escritorio*/
/*DESKTOP*/
 body {
  overflow-y: hidden;
}


/*la clase scroll no puede funcionar en versiones de escritorio*/
.scroll{
  overflow-y:hidden;
}

/*description*/
.description.show{
  bottom: 0%;
}

.description{
  bottom: -100%;
}

/*Info content*/
.info{          
  text-indent:10%;
} 
.vertical-separator{
  display: initial;
  border-left:2px solid rgb(33,150,243);
}

.description{
  overflow-y:auto;
  height:50%;
}
    @media all and (max-height: 700px)  {
        .description,.description .info .menu md-button{
          font-size: 1.1em;
        }        
    }
    @media all and (max-height: 600px)  {
        .description,.description .info .menu md-button{
          font-size: 0.9em;
        }        
    }

   /*Desaparecer la caja de la pantalla de Street View */
   #streetView{
    display: none;
   }

/*Browser del móvil*/
.browser,.browser md-dialog{
  display: none;
}

/*Mini Browser*/
.miniBrowser md-dialog, .miniBrowser md-dialog md-dialog-content{
  background:white; 
  max-width:100%;
  max-height:100%;
  opacity: 1;
}
.miniBrowser md-dialog .subtitle, .miniBrowser md-dialog .buttons .btn-cancel{
  display: none;
}
.miniBrowser{
  z-index: 10;
  position: absolute;
  top:15%;
  left:5%;
  width:20%;  
  display: initial;

 -webkit-transition: transform 0.1s; /* Safari */
  transition: transform 0.2s;   

  -webkit-transform: translate3d(0, 0, 0) scale(0);  
}

.appear{
      -webkit-transform: translate3d(0, 0, 0) scale(1);      
}

/*Botón Browser*/
.lupa{
    display: none;      
}

/*description*/
.descVelo{
  display: initial;
}
.description{
  overflow-y: hidden;
}

.description .desktop{
    display: initial;
}

.description .mobile{
  display: none;
}
.description .info {
font-size: 0.8em;
}
.description .info .table{
  display:table;
  /*table-layout: fixed;*/
  width: 60%;
  height: 100%;      
}
.description .info .table > div{
  min-width: 150px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;      
}
   /*botones*/
   .description .menu {
    width: 30%;
   }
   .description .menu > div, .description .menu button{
      width: 100%;
   }
/*Formulario de sugerencias*/ 
.suggestion{
  display: none;
}
   /*botones*/
   md-dialog .buttons .btn-clean{
      display: none;
   }
  .buttons{
    width: 100%;
  }
/*Cuando supera este ancho, se estima que sean laptops*/
@media screen and (min-width: 1020px) {
    /*Mostrar el street view en la app*/
    .description .info .table{
      width:40%;
    }
    #streetView{
      display: initial;
      border: 2px solid rgb(33,150,243);
      margin-left: 2%;      
      height: 200px;
      width: 20%;
    }     
}

