/*Hoja de estilos para la versión móvil*/
/*zona superior HEADER*/
.lupa{	
	position: absolute;
	right: 5px;
	top: 0px;
	-webkit-transition: transform 0.1s; /* Safari */
  	transition: transform 0.2s;   
  	-webkit-transform: translate3d(0, 0, 0) scale(0);
}

/*común (estilos para diferentes componentes)*/
.browser md-dialog ,.suggestion md-dialog{
	background:white; 
	max-width:100%;
	max-height:100%;
	opacity: 1;	
}

/*la clase scroll solo funcione en los dispositivos móbiles*/
.appear{
      -webkit-transform: translate3d(0, 0, 0) scale(1);      
}


/*preloader*/
.loader{
	background-size:100% auto;
}

/*Browser en el móvil*/
.browser{
  position:fixed;
  bottom:100%;
  left:0px;
  transition:  bottom 0.4s;
  -webkit-transition:bottom 0.4s;
}
.browser.appear{
  bottom:0px;
  left:0px;
}
.browser,.browser md-dialog{
  width: 100%;
  height:100%;
  z-index: 20;
}
.browser md-dialog-content{
	margin-top: 15%;
	overflow-y: hidden;
	width:100%;
}
.browser .buttons{	
	width:100%;	
}
	/*autocompletado*/
	ul.md-autocomplete-suggestions{
	    width:100%;
   }
/*cuando aparece el keyboard touch de los celulares y encoge
la altura de la pantalla*/
@media screen and (max-height: 250px) {
  .browser .buttons {
    display: none;
  }
}

/*miniBrowser*/
.miniBrowser{
  display: none;  
}

/*Descripción*/
	/*Menú inferior de la descripción*/
.description{
  height:103%;
  bottom: -100%; 
  z-index: 5;
}

.description .mobile {
	width: 100%;
	overflow-y:auto;
	font-size:0.8em;	
}

.description.show{
  bottom: 0%;
}

.description .mobile .menu{
	position: fixed;
	margin: 0;
	background:#8dc433;	
	width: 112%;
	height:70px;
	bottom: 70px;
	left: -3%;
	color: white;
	font-size: 0.8em;
}
		/*color del contenido SVG del menu de la descripción*/
.description .mobile .menu md-icon svg {
	color: white;
	font:bold;
	fill:white;	
}
/*línea separadora vertical*/
.vertical-separator-bar{
	height:80%;
	width:3px;
	background: white;
}

/*Formulario de sugerencias*/
.suggestion{
  position:fixed;
  bottom:100%;
  left:0px;
  transition:  bottom 0.4s;
  -webkit-transition:bottom 0.4s;
}
.suggestion.appear {
  bottom:0px;
  left:0px;
}
.suggestion,.suggestion md-dialog{
  width: 100%;
  height:100%;
  z-index: 10;  
}
.suggestion md-dialog-content{
	width: 100%;
	margin-top: 15%;
}

	/*botones*/
	.suggestion .buttons .btn-cancel{
	    display: none;
	 }
	.suggestion .buttons{
		width:100%;
	}