<div class="zoom" md-theme="buttonsTheme">
                <!--botón para acercar-->
                <md-button class="md-fab md-mini md-accent" aria-label="search" ng-click="maps.zoomIn()">
                        <b>+</b>
                </md-button>
                <!--botón para alejar-->
                <md-button class="md-fab  md-mini" aria-label="search" ng-click="maps.zoomOut()">
                        <b>-</b>
                </md-button>
</div>