<md-dialog ng-controller="BrowserController"
  layout="column" layout-align="space-between center"  
>                  
                    <!--Contenido del formulario-->
                   <md-dialog-content style="overflow-x:hidden;"
                    layout="column" layout="center center"
                   >
                        <div class="subtitle">
                          <h2>Encuentra tu predio y conoce todo sobre él</h2>
                        </div>
                        <!--Tipo de vía-->  
                        <md-select ng-model="viaTypes.selected" placeholder="{{viaTypes.selected}}">
                              <md-option ng-repeat="type in viaTypes.options" value="{{$index}}">{{type}}</md-option>             
                         </md-select>

                        <!--Nombre de vía-->
                          <md-autocomplete                      
                                  md-search-text="addressSeeker.searchText"
                                  md-selected-item="addressSeeker.selected"
                                  md-search-text-change="textChange"  
                                  md-selected-item-change="addressSeeker.setSelected(coincidence)"
                                  md-items="coincidence in addressSeeker.getRelatedAddresses()"
                                  md-item-text="coincidence.dirCompleta" 
                                  md-min-length="1"
                                  md-floating-label="Dirección"
                                  md-select-on-match="true"
                                  class="whole"
                            >
                                <md-item-template> 
                                  <div md-highlight-text="addressSeeker.searchText">{{coincidence.dirCompleta}}</div>                      
                                </md-item-template>
                                <md-not-found>
                                  No se encontró coincidencias con "{{addressSeeker.searchText}}".
                                </md-not-found>
                          </md-autocomplete>

                          
                   </md-dialog-content>

          <!--Botón de Buscar-->
         <div class="md-actions buttons" layout="row" md-theme="buttonsTheme">

            <!--Botón Cancelar-->    
            <md-button 
            ng-click="layout.cancel();" ng-hide="!layout.isCancelable()" 
            class="md-primary md-raised btn-cancel">
             Cancelar
            </md-button>

              <span flex></span>

            <!--Botón de Buscar-->
            <md-button ng-click="layout.search($parent.mainLayout.search);" class="md-primary md-raised" 
                ng-disabled="!addressSeeker.selectedProperty"
            >
             Buscar
            </md-button>
        </div>

</md-dialog>