<md-bottom-sheet  ng-controller="DescriptionController" 
class="md-list description md-whiteframe-z4" 
ng-class="{show : !$parent.componentsVisibility.description.hidden}"
layout="row" mn-touch swipe-down="layout.hide();"
>

	<!--solo para computadoras de escritorio-->
	<div class="desktop">
		<div>
			<center>
				<b class="subtitle">{{ property.data.address }}</b>
			</center>				
		</div>
		<div class="info" flex layout="row" layout-align="space-around start">
					<!-- Cabecera de la descripción -->
					<div class="table"
						 layout="column" layout-align="center center">
						<div class="subtitle" align="center">Datos del predio: </div>
						<div 								
								ng-repeat="data in property.data"
					 			ng-hide="property.names[$index]=='no'"
					 			layout="row"
					 			layout-align="space-between"
					 		>
								<div class="subtitle">{{ property.names[$index] }}
								</div>
								<div>{{ data }}</div>
						</div>
					</div>					
					<!-- <div id="streetView"></div> -->
					<!--menu controles descripción-->
					<div class="menu" layout="column" md-theme="buttonsTheme">
							<!--botón Street view-->
							<div  layout="row" layout-align="center center">
								<md-button 
									flex
									class="md-accent md-raised"
									aria-label="btnStreeView"
									ng-click="layout.goToStreetView()"
								>
									<md-icon md-svg-src="{{ src.images.streetView }}"></md-icon>
									Ver Street View
								</md-button>
							</div>
								<div class="vertical-separator-bar"></div>
							<!--botón Quejas-->
							<div  layout="row" layout-align="center center">
								<md-button
									flex
									class="md-accent md-raised"
									aria-label="btnSuggest"
									ng-click="layout.goToSuggestionFloatingBoxForm()"
								>
									<md-icon  style="color:white" md-svg-src="{{ src.images.suggestion }}"></md-icon>
									Enviar Comentarios
								</md-button>
							</div>
								<div class="vertical-separator-bar"></div>
							<!--botón Enviar-->
							<!-- <div  layout="row" layout-align="center center">
								<md-button class="md-accent md-raised"
									aria-label="btnSend"
									ng-style="{height:100%}"
								>
				        			<md-icon md-svg-icon="assets/img/email.svg"></md-icon>
				        			Enviar Información en PDF
				      			</md-button>				
							</div> -->
					</div>								
		</div>
	</div>


	<!--solo para celulares-->
	<div class="mobile" id="bottom">
	<center>	
				</br>
				    <!-- haciendo swipe hacía , desde la dirección, se baja toda la caja -->						 
					<div class="address">
						{{ property.data.address }}
					</div>
				</br>

				<!--Información del predio-->
				<div class="info" flex="66" layout="column" layout-align="center">	
						<!-- <div class="vertical-separator"></div> -->
							<b class="subtitle">Datos del predio:</b>
						<div>
					 		<div class="md-grid-text" ng-repeat="data in property.data"
					 			ng-hide="property.names[$index]=='no'"
					 			layout="row"
					 			layout-align="space-between center"
					 		>
								<div><b class="subtitle">{{ property.names[$index] }}</b></div>
								<div>{{ data }}</div>
							</div>
						</div>				
					
				</div>
	</center>


		<!--menu controles descripción-->
					<div class="menu" layout="row">
							<!--botón Street view-->
							<div flex layout="column" layout-align="center center">
								<div>Ver Street View</div>
								<md-button
									class="md-icon-button"
									aria-label="btnStreeView"
									ng-click="layout.goToStreetView()">
									<md-icon md-svg-src="{{ src.images.streetView }}"></md-icon>
									<br>
								</md-button>
							</div>
								<div class="vertical-separator-bar"></div>
							<!--botón Quejas-->
							<div flex layout="column" layout-align="center center">
								<div>Enviar Comentarios</div>
								<md-button
									class="md-icon-button"
									aria-label="btnSuggest"
									ng-click="layout.goToSuggestionForm()">
									<md-icon  style="color:white" md-svg-src="{{ src.images.suggestion }}"></md-icon>
								</md-button>
							</div>											
					</div>

   </div>

</md-bottom-sheet>

	<!--velo de la descripción-->
	<div class="descVelo" ng-hide="componentsVisibility.description.hidden" ng-click="componentsVisibility.description.hide();"></div>